nav
  display: flex
  background-color: #ffffff
  padding: 0 32px
  flex-direction: row
  align-items: center
  height: 100%
  justify-content: space-between
  .brand
    font-size: 40px
    flex: 1
  .list-links
    flex: 1
    ul
      text-decoration: none
      list-style: none
      display: flex
      flex-direction: row
      li
        margin: 0 5px
        font-size: 16px
  .social
    flex: 1