.main-container
  height: 100%
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: 1fr 1fr 1fr
  grid-gap: 32px
  grid-template-areas: "one one" "two three" "merch merch"
  padding: 32px 32px
  //@media (min-width: 1280px)
  //  width: 1280px
  .panel
    display: grid
    grid-template-areas: "left right"
    grid-template-columns: 1fr 1fr
    div
      grid-area: left
      display: flex
      justify-content: center
      align-items: center
  div
    width: 100%
    height: 100%
    background-color: #fff
    min-height: 600px
  .one
    grid-area: one
  .two
    grid-area: two
  .three
    grid-area: three
  .merch
    grid-area: merch